doctype html 
html(lang='en') 
    head 
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet',href='/style.css')
        
    body
        header 
        h1#hdd CSS style getter 
        div.items First item
        div#id-link Second item 
        div.items Third item
        
        footer#toolbox
            div#tips How to use
            section Press 
                b 'S' to lock tooltip 
            section Press 
                b 'C' to create new tooltip
            section Press 
                b the left mouse button to copy the style of an element
            section Press the
                b 'X' button bar on the left of the tooltip to remove it
            section 
                b *Note: Currently only supports stylesheet extraction. 
            

        
        script(src='/index.js')