doctype html 
html(lang='en') 
    head 
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet',href='/style.css')
        link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    body
        h1 Cursor trial 
        div#ctooltip
            i.fa.fa-eye
        div.links First link
        div.links Second link 
        div.links Third link
        div.crakatau nissan
        
        
        script(src='/index.js')