body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #606060FF;
}

h1{
  text-align: center;
}

#hdd{
  color:#D6ED17FF;
}

.items {
    margin: 100px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    box-shadow: tan 1px 1px 1px
}


.ctts {
  display: flex;
  justify-content: flex-start;
  background: #D6ED17FF;

  width: 15em;
  height: 17em;

  margin-left: 2em;
  padding: 2em;

  

  position: absolute;
  z-index: 1;
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

#id-link{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.tt-delete-btn{
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color:blanchedalmond;
  display: block;
  margin-right: 1em;
  z-index: 2;
  border-bottom-style: hidden;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

.tt-interior-header{
  color: crimson;
}

b.tt-interior-body{
  color:darkgoldenrod;
}

.tt-body-tag-text{
  color:brown;
}

#toolbox{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#tips{
  font-size: large;
  color:white;
}
#toolbox>section{
  color:#D6ED17FF;
  font-size: medium;
}





