body {
  background-color: darkgray;
}

.links {
    margin: 100px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: darkblue;
}

.links:hover #ctooltip {
  display: block;
}

.ctts {
  display: block;
  background: #c8c8c8;

  width: 15em;
  height: 17em;

  margin-left: 2em;
  padding: 2em;

  

  position: absolute;
  z-index: 9999;
  
  font-family: "Courier New", Courier, monospace;
  color: darkblue;
}

#crakatau{
    text-align: center;
}





